
        body{
            margin: 0;
            padding: 0;
            width:100%;
            height: 100vh;            
         

        }


        .navigation-bar {
            background-color: black;
            display: flex;
            justify-content: center;
            width:100%;
            position: fixed;
            left:0;
            top: 0;
        }
        
        .flex-container {
            flex-direction: row;
            justify-content: center;
            background-color: black;
            margin: 5px;
            width: 500px;
            height:65px;
        }
        
        .flex-item {
            background-color: black;
            margin: 10px;
            flex-grow: 1;
            text-align: center;
            font-family: 'Press Start 2P', cursive;
            color:aqua;
        }
        
        .logo {;}
    
          a{
           color: white;
           text-decoration:none;
            font-size: 1.2em;  
            }
            
        .website-body {
            margin-top: 100px;
        }

  .content {
            font-family: 'Roboto Mono', monospace;
            font-size: 1em;
            color:black;
        }

        .subtitles {
        font-family: 'Roboto Mono', monospace;     
        font-size: 1.5em;
        color:black;
        font-weight: bolder;
         }
        
         
     
        .page-3-grid {
        height: 100vh;
        width: 100%;
        display: grid;
        grid-template-rows: 25% 25% 25% 25%;
}
        
        #bottom {
            font-family: 'Roboto Mono', monospace;
        }
        
        paragraph {
            font-family: 'Roboto Mono', monospace;
            font-size: 1.5em;
        }
        
         
     
        .icons-grid {
         height: 100%;
         width: 100%;
         display: grid;
         grid-template-columns: 120px 150px 150px 150px 150px 150px 120px; 
         grid-template-rows: auto 100px 100px;
        
            
         
}


.instagram-logo{
    grid-column: 2/3;
    grid-row: 2/3;
    display: flex;
    flex-direction: row;
     justify-content: flex-end;
    
}

.up{
    grid-column: 3/4;
    grid-row: 2/3;
    display: flex;
     flex-direction: row;
     justify-content: flex-end;
}


     


footer{
  background: black;
  padding: 15px 15px;
  width: 100%;
  height: 6vh;
}


   .footer-grid {
         height: 6vh;
         width: 100%;
         display: grid;
         grid-template-columns: 120px 150px 150px 150px 150px 150px 120px; 
         grid-template-rows: 100px 100px;
        }




.footer-container{
  max-width: 800px;
  margin: auto;
  padding: 0 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap-reverse;
}




.footer-text{
    font-family: 'Roboto Mono', monospace;
    color: white;
    grid-column: 2/7;
    grid-row: 1/2;
    display: flex;
    flex-direction: row;
     justify-content: flex-end;
    
    
}



@media screen and (max-width:960px) {
  .footer-container{
    max-width: 600px;
  }




@media screen and (max-width:700px){
  .btn{
    margin: 0;
    width: 100%;
    margin-top: 20px;
    }
}       